/.dart_tool
/.idea
/build

/android/local.properties
/android/.idea
/android/.gradle

/example/.dart_tool
/example/.flutter-plugins
/example/.flutter-plugins-dependencies
/example/.idea
/example/android/.gradle
/example/android/local.properties
/example/android/.idea
/example/android/app/.cxx
/example/build
/example/ios/Flutter/flutter_export_environment.sh
/example/ios/Flutter/Generated.xcconfig

